@import "../../styles/mixins.scss";
@import "../../styles/globals.scss";

.header {
  @include flexbox(column);

  position: relative;
  align-items: center;

  @media screen and (max-width: $breakpoint-md) {
    height: 8rem;
  }
  height: auto;
  .site-top-block {
    @include flexbox(row);
    @media screen and (min-width: $breakpoint-xs) {
      width: $content-width-xs;
    }
    @media screen and (min-width: $breakpoint-sm) {
      width: $content-width-sm;
    }
    @media screen and (min-width: $breakpoint-md) {
      width: $content-width-md;
    }
    @media screen and (min-width: $breakpoint-lg) {
      width: $content-width-lg;
    }

    @media screen and (min-width: $breakpoint-xl) {
      width: $content-width-xl;
    }

    height: 100px;

    align-items: center;
    align-content: center;
    justify-content: center;
    .block-1 {
      flex: 1;
      @include flexbox(row);
      height: 100%;

      justify-content: start;
      align-content: start;
      align-items: center;

      @media screen and (min-width: $breakpoint-xs) {
        align-content: end;
        align-items: end;
        padding-bottom: 20px;
        padding-left: 20px;
      }

      @media screen and (min-width: $breakpoint-sm) {
        padding-left: 0px;
        padding-bottom: 0px;
      }
      @media screen and (min-width: $breakpoint-md) {
        padding-bottom: 0px;
        justify-content: start;
        align-content: start;
        align-items: center;
      }

      .search-box {
        @include flexbox(row);
        align-items: center;
        .icon-search {
          background-color: transparent;
          display: flex;
          color: grey;
          display: flex;
          justify-content: center;
          align-content: center;
          align-items: center;
          width: 1.15rem;
          height: 30px;
        }

        input[type="text"] {
          @media screen and (min-width: $breakpoint-xs) {
            width: 100px;
          }

          @media screen and (min-width: $breakpoint-md) {
            width: 150px;
          }
          @media screen and (min-width: $breakpoint-lg) {
            width: 250px;
          }
          height: 30px;

          padding: 15px;
          border-radius: 5px;
          font-weight: 400;
          transform: translateX(5px);
          transition: 250ms;
          &:focus {
            transform: translateX(0px);
            outline: none;
          }
        }
      }
    }
    .block-2 {
      flex: 1;
      @include flexbox(column);
      height: 100%;

      justify-content: center;
      align-items: center;
      @media screen and (min-width: $breakpoint-xs) {
        padding-top: 20px;
        justify-content: start;
      }
      @media screen and (min-width: $breakpoint-md) {
        padding-top: 0px;
        justify-content: center;
      }
    }

    .block-3 {
      flex: 1;
      @include flexbox(row);

      align-items: end;
      height: 100%;

      @media screen and (min-width: $breakpoint-xs) {
        align-items: end;
        padding-right: 20px;
      }
      @media screen and (min-width: $breakpoint-sm) {
        align-items: end;
        padding-right: 0px;
      }
      @media screen and (min-width: $breakpoint-md) {
        align-items: center;
      }
    }
  }
}

.header-button:hover {
  transition: 0.1s all ease-in-out;
  color: var(--primary-color);
  cursor: pointer;
}

.site-logo-wrapper {
  position: relative;
  height: 38px;
  width: 155px;
  border: 2px solid black;

  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  .site-logo {
    letter-spacing: 5px;
    font-size: 18.5px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.side-nav {

  @include flexbox(row);
  width: 100%;

  align-items: center;
  justify-content: end;
  > * {
    margin-left: 10px;
  }
  &:last-child {

    margin-right: 0px;
  }
  @media screen and (min-width: $breakpoint-xs) {
    padding-bottom: 20px;
  }
  @media screen and (min-width: $breakpoint-md) {
    padding-bottom: 0px;
  }
  .side-nav-icon {
    cursor: pointer;
    color: var(--icon-color);

    font-size: 18px;
    transition: linear;
    transition: 250ms;

    &:hover {
      transition: linear;
      transition: 250ms;
      color: var(--gray-dark);
    }
  }
 
}
