@import ".././../styles/mixins.scss";
.header {
  @include flexbox(column);
  height: 175px;
  position: relative;
  align-items: center;

  .site-top-block {
    @include flexbox(row);
    width: 100%;

    height: 10rem;
    align-content: space-evenly;
    justify-content: center;
    .block-1 {
      @include flexbox(row);

      justify-content: center;
      align-content: center;
      align-items: center;

      flex: 1;
      .search-box {
        @include flexbox(row);

        .icon-search {
          background-color: transparent;
          border-radius: 20px;
          color: rgb(80, 79, 79);
          display: flex;
          justify-content: center;
          align-content: center;
          align-items: center;
          pointer-events: painted;
          width: 30px;
        }

        input[type="text"] {
          height: 30px;
          width: 300px;
          padding: 15px;
          border-radius: 5px;
          border: 1px solid rgb(221, 221, 221);

          &:focus {
            outline: none;
          }
        }
      }
    }
    .block-2 {
      @include flexbox(row);

      flex: 1;
      justify-content: center;
      align-items: center;

      .site-logo {
        position: relative;
        height: 40px;
        width: 150px;
        padding-left: 10px;
        padding-right: 10px;
        border: 2px solid black;

        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .block-3 {
      @include flexbox(row);

      flex: 1;
      .side-nav {
        @include flexbox(row);
        width: 100%;

        align-items: center;
        justify-content: center;
      }
    }
  }
}

.header-button:hover {
  transition: 0.1s all ease-in-out;
  color: var(--primary-color);
  cursor: pointer;
}
