.benefit_container {
  width: 100%;
  height: 100%;
  align-items: center;
  flex-direction: row;
  display: flex;
  justify-content: center;
}

.benefit_container_icon {
  display: flex;

  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100px;
  color: var(--primary-color);
}

.benefit_container_desc {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: start;
  text-align: start;
  height: 100%;
  width: 220px;
}
