@import "../../../styles/globals.scss";
@import "../../../styles/mixins.scss";
@mixin td-entry() {
  height: 70px;
  border: 1px solid #dee2e6;
}

.tr-entry {
  border: 1px solid #dee2e6;
  height: 70px;

  .entry-image {
    @include td-entry();

    height: 70px;
    width: 100px;
  }
  .entry-product {
    position: relative;
    font-weight: 700;
    justify-content: center;

    align-items: center;
    align-content: center;
  }
  .entry-price {
    justify-content: center;
    @include td-entry();
  }
  .entry-quantity {
    justify-content: center;
    @include td-entry();
  }
  .entry-total {
    justify-content: center;
    @include td-entry();
  }
  .entry-remove {
    justify-content: center;

    @include td-entry();
  }
}
.cart-remove-item-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
