@import "../../styles/mixins.scss";
@import "../../styles/globals.scss";

.home-promotion-container {
  height: 700px;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  background-color: #a6f3ed;
  animation: fade-in 1s ease-in-out;
  @media screen and (min-width: $breakpoint-xs) {
    @include flexbox(column);
  }
  @media screen and (min-width: $breakpoint-sm) {
    @include flexbox(column);
  }
  @media screen and (min-width: $breakpoint-md) {
    @include flexbox(column);
  }
  @media screen and (min-width: $breakpoint-lg) {
    @include flexbox(row);
  }
  @media screen and (min-width: $breakpoint-xl) {
    @include flexbox(row);
  }
  .home-promotion-image {
    max-width: 100%;
    height: min-content;
    @media screen and (min-width: $breakpoint-xs) {
      margin-top: 40px;
      width: auto;
    }
    @media screen and (min-width: $breakpoint-sm) {
      margin-top: 40px;
      width: 450px;
    }
    @media screen and (min-width: $breakpoint-md) {
      margin-top: 40px;
      width: 500px;
    }
    @media screen and (min-width: $breakpoint-lg) {
      width: 600px;
    }
    @media screen and (min-width: $breakpoint-xl) {
      width: 650px;
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.home-promotion-desc {
  @include flexbox(column);
  justify-content: center;

  margin-left: 30px;

  @media screen and (min-width: $breakpoint-xs) {
    height: 300px;
    width: 100%;

    justify-content: center;
    align-items: start;
    :nth-child(2) {
      margin-bottom: 20px;
    }
  }
  @media screen and (min-width: $breakpoint-sm) {
    height: 300px;
    width: 450px;

    justify-content: center;
    align-items: center;
    :nth-child(2) {
      margin-bottom: 20px;
    }
  }
  @media screen and (min-width: $breakpoint-md) {
    height: 300px;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    width: 500px;
  }
  @media screen and (min-width: $breakpoint-lg) {
    align-items: start;
    height: 400px;
    width: 300px;
  }
  @media screen and (min-width: $breakpoint-xl) {
    align-items: start;
    justify-content: space-evenly;
    height: 350px;
    width: 400px;
  }
}

.home-promotion-desc-header {
  font-size: 45px;
  font-weight: bold;
  @media screen and (min-width: $breakpoint-xs) {
    font-size: 35px;
  }
  @media screen and (min-width: $breakpoint-sm) {
    font-size: 35px;
  }
  @media screen and (min-width: $breakpoint-md) {
    font-size: 35px;
  }
  @media screen and (min-width: $breakpoint-lg) {
    font-size: 45px;
    text-align: start;
  }
}

.home-promotion-desc-about {
  font-size: 18px;
  @media screen and (min-width: $breakpoint-xs) {
    font-size: 20px;
    width: auto;
    text-align: start;
  }
  @media screen and (min-width: $breakpoint-sm) {
    font-size: 18px;
    text-align: center;
  }
  @media screen and (min-width: $breakpoint-md) {
    font-size: 20px;
    text-align: center;
    width: 380px;
  }

  @media screen and (min-width: $breakpoint-lg) {
    font-size: 20px;
    text-align: start;
    width: 300px;
  }
  @media screen and (min-width: $breakpoint-xl) {
    font-size: 20px;
    text-align: start;
    width: 450px;
  }
  line-height: 40px;
}

.home-promotion-desc-container {
  justify-content: start;
  align-items: center;
  display: flex;

  width: auto;
  height: 100%;
}
