.home-promotion-container {
  width: 100%;
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }

  height: 700px;
  justify-content: center;
  align-items: center;

  display: flex;
  background-color: #a6f3ed;
  animation: fade-in 1s ease-in-out;
  .home-promotion-image {
    max-width: 100%;
    height: min-content;
    @media screen and (min-width: 100px) {
      margin-top: 40px;
      width: 400px;
    }
    @media screen and (min-width: 768px) {
      margin-top: 40px;
      width: 500px;
    }
    @media screen and (min-width: 1024px) {
      width: 600px;
    }
    @media screen and (min-width: 1500px) {
      width: 800px;
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.home-promotion-desc {
  flex-direction: column;
  justify-content: space-evenly;

  display: flex;
  margin-left: 30px;
  height: 50%;
  width: 55%;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;

    height: 300px;
  }
  @media screen and (max-width: 788px) {
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;

    height: 300px;
  }
  @media screen and (min-width: 480px) {
    width: 100%;
  }
  @media screen and (min-width: 1000px) {
    width: 55%;
  }
}

.home-promotion-desc-header {
  font-size: 45px;
  font-weight: bold;
  @media screen and (max-width: 768px) {
    font-size: 30px;
  }
}

.home-promotion-desc-about {
  font-size: 18px;
  @media screen and (max-width: 768px) {
    font-size: 15px;

    line-height: 20px;
  }

  line-height: 30px;
}

.home-promotion-desc-container {
  justify-content: start;
  align-items: center;
  display: flex;

  width: auto;
  height: 100%;
}
