@import "../../styles/globals.scss";
@import "../../styles/mixins.scss";

.profile-content-wrapper {
  padding-bottom: 20px;
  padding-top: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;

  .profile-content {
    height: 100%;
    @media screen and (min-width: $breakpoint-xs) {
      @include flexbox(column);

      width: $content-width-xs;
    }
    @media screen and (min-width: $breakpoint-sm) {
      width: $content-width-sm;
    }
    @media screen and (min-width: $breakpoint-md) {
      width: $content-width-md;
    }
    @media screen and (min-width: $breakpoint-lg) {
      width: $content-width-lg;
      @include flexbox(row);
    }
    @media screen and (min-width: $breakpoint-xl) {
      width: $content-width-xl;
    }
  }
  .profile-list-wrapper {
    position: relative;

    height: 100%;
    @media screen and (min-width: $breakpoint-xs) {
      width: $content-width-xs;
    }
    @media screen and (min-width: $breakpoint-md) {
      margin-right: 20px;
      width: 100%;
    }
  }
  .profile-selected-menu-content {
    position: relative;

    .account-details-wrapper {
      position: relative;
      @include flexbox(column);
      .title {
        padding-bottom: 20px;
        font-size: x-large;
      }

      @media screen and (min-width: $breakpoint-lg) {
        width: 500px;
      }
      @media screen and (min-width: $breakpoint-xl) {
        width: 845px;
      }
      height: 100%;
      position: relative;
      .logOut-button-wrapper {
        position: relative;
        @include flexbox(row);
        height: 100%;
        justify-content: end;
        align-items: end;
        padding-top: 20px;
        padding-bottom: 20px;

        .logOut-button {
          height: 35px;
          width: 100px;
        }
      }
    }
    .wallet-wrapper {
      .title {
        padding-bottom: 20px;
        font-size: x-large;
      }

      width: 845px;
      height: 100%;
      .save-button-wrapper {
        @include flexbox(row);
        justify-content: start;
        padding-top: 20px;
        padding-bottom: 20px;
        .logOut-button {
          height: 35px;
          width: 100px;
        }
      }
    }
  }
}
