@import "../../../styles/mixins.scss";

@import "../../../styles/globals.scss";
.center-contact-content {
  @include flexbox(row);
  width: 100%;
  height: auto;
  justify-content: center;
  margin-top: 3%;
  margin-bottom: 3%;

}

.contact-content-wrapper {
  justify-content: center;
  align-content: center;


  @media screen and (min-width: $breakpoint-xs) {
    @include flexbox(column);
    width: $content-width-xs;
    margin-left: 20px;
    margin-right: 20px;
  }
  @media screen and (min-width: $breakpoint-sm) {
    width: $content-width-sm;
    margin-left: 0px;
    margin-right: 0px;
  }
  @media screen and (min-width: $breakpoint-md) {
    width: $content-width-md;
  }
  @media screen and (min-width: $breakpoint-lg) {
    @include flexbox(row);
    width: $content-width-lg;
  }
  @media screen and (min-width: $breakpoint-xl) {
    width: $content-width-xl;
  }
  .get-in-touch-box {
    @include flexbox(column);
    justify-content: space-between;
    align-items: center;

    .get-in-touch-label {
      color: var(--text-primary-color);
      font-weight: 600;
      font-size: x-large;
      margin-bottom: 20px;
      text-align: start;

      width: 100%;
    }
    .get-in-touch-content {
      @include flexbox(column);

      @include form-box(100%, auto);

      justify-content: space-between;

      padding: 50px;
      & > * {
        margin-bottom: 25px;
      }
    }
    width: 100%;
    height: auto;
  }
  & > :first-child {
    margin-right: 20px;
  }
  .city-list {
    @include flexbox(column);
    margin-top: 55px;
    align-items: start;
    align-content: start;
    justify-content: start;
    & > * {
      margin-bottom: 15px;
    }
 
    height: auto;

    width: 100%;
  }
}
