@import "../../../styles/mixins.scss";

.featured_products {
  @include flexbox(column);
  margin-top: 20px;
  justify-content: space-evenly;
  align-items: center;
  height: 700px;
  width: 100%;

  flex-shrink: 0;
  background-color: rgb(250, 249, 249);
  .product_list {
    @include flexbox(column);
    justify-content: center;
    align-items: center;
    margin-top: 10px;

    height: 500px;
    overflow-x: scroll;
    flex-wrap: wrap;
    direction: ltr;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      display: none;
    }

    > * {
      margin-right: 10px;
    }
    & > :last-child {
      margin-right: 0px;
    }
  }
  .arrows_container {
    @include flexbox(row);
    height: 30px;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}

.featured_product-card {
  width: 350px;
  height: 450px;
}
