.shop-nav-container {
  padding-left: 5%;
  background-color: #f8f9fa;
  height: 50px;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;

  justify-content: start;
  flex-direction: row;
}
