.shop-nav-container {
  padding-left: 20%;
  background-color: #f8f9fa;
  height: 3.5rem;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;

  justify-content: start;
  flex-direction: row;
}
