@import "../../styles/mixins.scss";

.checkout-content-wrapper {
  @include flexbox(column);
  width: 100%;
  height: auto;

  align-items: center;
  & > * {
    margin-top: 50px;
  }
}
.customer-return-wrapper {
  width: 65%;

  .customer-return-login-box {
    @include form-box(95%, 70px);
    @include flexbox(column);
    align-items: center;
    align-content: center;
    justify-content: center;
    position: relative;

    .label {
      position: relative;

      width: 95%;
      .login-link {
        color: var(--primary-color);
        cursor: pointer;
      }
    }
  }
}

.billing-details-wrapper {
  @include flexbox(row);
  justify-content: center;
  align-content: center;

  height: 80%;
  width: 70%;

  .billing-details-box {
    width: 40%;
    height: 90%;

    .label {
      font-size: x-large;
      font-weight: 600;
    }
    .billing-form-box {
      @include flexbox(column);

      @include form-box(100%, auto);
      justify-content: space-between;
      padding: 40px;
      .select-country {
        @include form-box(100%, 45px);
        @include form-box-effects();
      }
      & > * {
        margin-bottom: 20px;
      }
    }
    & > :first-child {
      margin-bottom: 20px;
    }
  }
  .order-details-box {
    width: 50%;
    .label {
      font-size: x-large;
      font-weight: 600;
    }
    .coupon-code-box {
      @include form-box(90%, 150px);
      .coupon-input-box {
        @include flexbox(column);

        padding: 30px;
        justify-content: center;
        height: 100%;
        & > :first-child {
          margin-bottom: 10px;
        }
        .entry-coupon-code-label {
          font-weight: 300;
        }
        .coupon-input-row {
          display: flex;
          justify-content: start;
          align-items: center;

          input[type="text"] {
            @include form-box(50%, 50px);
            @include form-box-effects();
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
          }
          .coupon-code-apply-button {
            width: 100px;
            height: 50px;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
          }
        }
      }
    }
    .your-order-box {
      @include form-box(90%, auto);
      @include flexbox(column);
      justify-content: space-evenly;

      & > * {
        margin-bottom: 60px;
      }
      &:last-child {
        margin-bottom: 0px;
      }
      .product-list-box {
        height: 250px;
        width: 100%;
        table {
          height: auto;
          width: 100%;
          thead {
            tr {
              height: 50px;
              width: 100%;
              border-bottom: 1px solid #eff1f3;
              font-weight: bold;
              & > * {
                text-align: start;
              }
              & > :first-child {
                padding: 5px;
              }
            }
          }
          tbody {
            tr {
              height: 50px;
              width: 100%;
              border-bottom: 1px solid #eff1f3;
              & > :first-child {
                padding: 5px;
              }
            }
          }
        }
      }

      .payment-option-list {
        height: auto;
        .payment-option-box {
          @include flexbox(column);
          @include form-box(100%, auto);
          padding: 15px;

          justify-content: center;
          & > * {
            align-items: center;
            justify-content: center;
            text-align: start;
            color: grey;
            width: 100%;
          }
          & > :first-child {
            align-items: center;
            justify-content: center;
            text-align: start;
            color: var(--primary-color);
            width: 100%;
          }
          .payment-option-label {
            cursor: pointer;
          }
          .description {
            overflow: hidden;

            transition: height 350ms ease-in-out;
          }
        }

        & > * {
          margin-bottom: 10px;
        }
        & > :last-child {
          margin-bottom: 0px;
        }
      }
      .place-order-button {
        width: 100%;
        height: 60px;
      }
      padding: 40px;
    }
    & > * {
      margin-bottom: 20px;
    }
  }
  & > :first-child {
    margin-right: 40px;
  }
}
.form-group {
  @include flexbox(column);
  justify-content: center;
  align-items: start;
  & > :first-child {
    margin-bottom: 10px;
  }
  .first-name-input {
    @include form-box(200px, 45px);
    @include form-box-effects();
  }
  .last-name-input {
    @include form-box-effects();
    @include form-box(200px, 45px);
  }
  .company-name-input {
    @include form-box-effects();
    @include form-box(100%, 45px);
  }
  .address-street-input {
    @include form-box-effects();
    @include form-box(100%, 45px);
  }
  .address-apartament-input {
    @include form-box-effects();
    @include form-box(100%, 45px);
  }
  .state-country-input {
    @include form-box-effects();
    @include form-box(200px, 45px);
  }
  .posta-zip-input {
    @include form-box-effects();
    @include form-box(200px, 45px);
  }
  .email-address-input {
    @include form-box-effects();
    @include form-box(200px, 45px);
  }
  .phone-number-input {
    @include form-box-effects();
    @include form-box(200px, 45px);
  }
  .order-notes-input {
    @include form-box-effects();
    &::placeholder {
      align-content: start;
      align-items: start;
      justify-content: start;
    }
    @include form-box(100%, 200px);
  }
}
.form-group-row {
  @include flexbox(row);
  justify-content: space-between;
  align-items: start;
}
