@import "../../styles/mixins.scss";
@import "../../styles/globals.scss";
.checkout-content-wrapper {
  @include flexbox(column);
  width: 100%;
  height: auto;

  align-items: center;
  & > * {
    margin-top: 50px;
  }
}
.customer-return-wrapper {
  @media screen and (min-width: $breakpoint-xs) {
    width: $content-width-xs;
    margin-left: 20px;
    margin-right: 20px;
  }
  @media screen and (min-width: $breakpoint-sm) {
    width: $content-width-sm;
    margin-left: 0px;
    margin-right: 0px;
  }
  @media screen and (min-width: $breakpoint-md) {
    width: $content-width-md;
  }
  @media screen and (min-width: $breakpoint-lg) {
    width: $content-width-lg;
  }
  @media screen and (min-width: $breakpoint-xl) {
    width: $content-width-xl;
  }
  .customer-return-login-box {
    @include form-box(95%, 70px);
    @include flexbox(column);
    align-items: center;
    align-content: center;
    justify-content: center;
    position: relative;

    .label {
      position: relative;

      width: 95%;
      .login-link {
        color: var(--primary-color);
        cursor: pointer;
      }
    }
  }
}

.billing-details-wrapper {
  justify-content: space-between;
  align-content: center;

  height: 80%;
  @media screen and (min-width: $breakpoint-xs) {
    @include flexbox(column);
    width: $content-width-xs;
    margin-left: 20px;
    margin-right: 20px;
  }
  @media screen and (min-width: $breakpoint-sm) {
    width: $content-width-sm;
    margin-left: 0px;
    margin-right: 0px;
  }
  @media screen and (min-width: $breakpoint-md) {
    @include flexbox(row);
    width: $content-width-md;
  }
  @media screen and (min-width: $breakpoint-lg) {
    width: $content-width-lg;
  }
  @media screen and (min-width: $breakpoint-xl) {
    width: $content-width-xl;
  }
  .billing-details-box {
    flex: 1;
    height: 90%;

    .label {
      font-size: x-large;
      font-weight: 600;
    }
    .billing-form-box {
      @include flexbox(column);

      @include form-box(100%, auto);
      justify-content: space-between;
      padding: 40px;
      .select-country {
        @include form-box(100%, 45px);
        @include form-box-effects();
      }
      & > * {
        margin-bottom: 20px;
      }
    }
    & > :first-child {
      margin-bottom: 20px;
    }
  }
  .order-details-box {
    flex: 1;

    .label {
      font-size: x-large;
      font-weight: 600;
    }
    .coupon-code-box {
      @include form-box(90%, 150px);
      .coupon-input-box {
        @include flexbox(column);

        padding: 30px;
        justify-content: center;
        height: 100%;
        & > :first-child {
          margin-bottom: 10px;
        }
        .entry-coupon-code-label {
          font-weight: 300;
        }
        .coupon-input-row {
          display: flex;
          justify-content: start;
          align-items: center;

          input[type="text"] {
            @include form-box(50%, 50px);
            @include form-box-effects();
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
          }
          .coupon-code-apply-button {
            width: 100px;
            height: 50px;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
          }
        }
      }
    }
    .your-order-box {
      @include form-box(90%, auto);
      @include flexbox(column);
      justify-content: space-evenly;

      & > * {
        margin-bottom: 60px;
      }
      &:last-child {
        margin-bottom: 0px;
      }
      .product-list-box {
        height: auto;
        width: 100%;
      }

      .place-order-button {
        width: 100%;
        height: 60px;
      }
      padding: 40px;
    }
    & > * {
      margin-bottom: 20px;
    }
  }
  & > :first-child {
    margin-right: 40px;
  }
}
