@import "../../styles/mixins.scss";

.select-product-wrapper {
  @include flexbox(row);
  width: 130px;
  height: 45px;

  border-radius: 5px;
  .decrease {
    border: 1px solid var(--primary-color);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-color: var(--primary-color);
    align-items: center;
    justify-content: center;
    align-content: center;
    display: flex;
    flex: 3;
    cursor: pointer;
    color: var(--primary-color);

    transition-duration: 150ms;
    &:hover {
      transition-duration: 150ms;
      color: white;
      background-color: var(--primary-color);
    }
  }
  .current {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgb(213, 213, 213);
    border-bottom: 1px solid rgb(213, 213, 213);
    flex: 5;
    input {
      width: 40px;
      text-align: center;
    
      &:focus {
        outline: none;
        -webkit-appearance: none;
        appearance: none;
        -moz-appearance: textfield;
      }
      border: none;
      -webkit-appearance: none;
      appearance: none;
      -moz-appearance: textfield;
    }
    input[type="number"] {
      -moz-appearance: textfield;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }
  .increase {
    border: 1px solid var(--primary-color);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-color: var(--primary-color);
    align-items: center;
    justify-content: center;
    align-content: center;
    display: flex;
    flex: 3;
    color: var(--primary-color);
    cursor: pointer;
    transition-duration: 150ms;
    &:hover {
      transition-duration: 150ms;
      color: white;
      background-color: var(--primary-color);
    }
  }
}
