.container {
  height: 800px;
  width: 100%;

  border-bottom: 0.1px solid #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  & > * {
    margin-top: 30px;
  }
}

.big_sale_container_decoration {
  height: 1.5px;
  width: 40px;
  background-color: var(--primary-color);
}

.big_sale_content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.big_sale_image {
  height: 80%;
  width: 600px;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: blue;
  z-index: 1;
  border-radius: 5px;
  margin-bottom: 0;
  background-size: cover;
  background-position: center;
}

.big_sale_desc {
  width: 600px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.big_sale_desc > * {
  margin-bottom: 15px;
}
