@import ".././../styles/mixins.scss";
.footer {
  @include flexbox(column);
  width: 100%;
  height: 400px;

  align-items: center;


  .wrapper {
   
    @include flexbox(row);
    height: 80%;
    width: 100%;

    justify-content: center;
    align-items: center;
    & > * {
      margin-right: 3%;
    }
    & > :last-child {
      margin-right: 0;
    }
  }
}

.navigation-container {
  @include flexbox(column);

  width: auto;
  justify-content: start;
  align-items: start;
  height: 100%;


  & > * {
    margin-bottom: 20px;
  }
  .contact-info-label {
    width: 100%;
    height: 13%;

    @include flexbox(row);
    align-items: center;
    justify-content: center;
  }
}

.navigation-list > * {
  color: #8c92a0;
  margin-bottom: 15px;
}

.menu-label:hover {
  color: var(--primary-color);
  cursor: pointer;
}
