@import "../../styles/mixins.scss";
.form-group {
  @include flexbox(column);
  justify-content: center;

  & > :first-child {
    margin-bottom: 10px;
  }
  .first-name-input {
    @include form-box(100%, 45px);
    @include form-box-effects();
  }
  .last-name-input {
    @include form-box-effects();
    @include form-box(100%, 45px);
  }
  .company-name-input {
    @include form-box-effects();
    @include form-box(100%, 45px);
  }
  .address-street-input {
    @include form-box-effects();
    @include form-box(100%, 45px);
  }
  .address-apartament-input {
    @include form-box-effects();
    @include form-box(100%, 45px);
  }
  .state-country-input {
    @include form-box-effects();
    @include form-box(100%, 45px);
  }
  .posta-zip-input {
    @include form-box-effects();
    @include form-box(100%, 45px);
  }
  .email-address-input {
    @include form-box-effects();
    @include form-box(100%, 45px);
  }
  .phone-number-input {
    @include form-box-effects();
    @include form-box(100%, 45px);
  }
}
.form-group-row {
  @include flexbox(row);
  justify-content: space-between;
  align-items: start;
}
.message-input {
  @include form-box(100%, 200px);
  @include form-box-effects();
  margin-top: 10px;
  &::placeholder {
    align-content: start;
    align-items: start;
    justify-content: start;
  }
}
