
.featured_products {	
	margin-top: 20px;
	flex-direction: column;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 700px;

	flex-shrink: 0;
	background-color: rgb(250, 249, 249);

}

.featured_products_list {
	display: flex;

	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin-top: 10px;
	width: 1000px;
	height:400px;
	overflow-x: scroll;
	flex-wrap: wrap;
	direction: ltr;
	scroll-behavior: smooth;
	scrollbar-width: none;
	
}

.featured_products_list::-webkit-scrollbar {
	display: none;
}

.featured_products_decoration {

	height: 2.4px;
	width: 40px;
	background-color: var(--primary-color);


}

.featured_products_list>* {
	margin-right: 20px;
}

.featured_products_list>:last-child {
	margin-right: 20px;
}

.featured_products_list>:first-child {
	margin-left: 20px;
}


.featured_products_arrows_container {
	
	height: 30px;
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

}