.featured_product_container {
	display: inline;

	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 320px;
	height: 440px;
	margin-top: 20px;
	margin-bottom: 20px;
	box-shadow: 0px 0px 15px rgba(170, 170, 170, 0.5);
	background-color: var(--primary-color);
}

.featured_product_image {
	background-size: 100% 100%;

	width: 100%;
	height: 65%;


}

.featured_product_desc {
	height: 35%;
	width: 100%;
	background-color: white;
	flex-direction: column;
	display: flex;
	justify-content: center;
	align-items: center;
}

.featured_product_desc>* {
	margin-bottom: 5px;
}

.featured_product_desc>:last-child {
	margin-bottom: 0;
}

.featured_product_name {

	color: var(--primary-color);
	font-size: 20px;
	font-weight: 500;

}

.featured_product_description {
	font-size: 15px;

	color: #8c92a0;
}

.featured_product_price {
	color: var(--primary-color);
	font-size: 15px;
	font-weight: bold;
}
