@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary-color: #7c74ea;
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

* {
	margin: 0;
	padding: 0;
}

.header {
	width: 100%;
	height: 300px;


}

.content {
	width: 100%;



}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(to bottom,
			transparent,
			rgb(var(--background-end-rgb))) rgb(var(--background-start-rg,
				b));
}

.row-space-between {
	width: 100%;

	display: flex;

	justify-content: space-between;
	align-items: center;
}

.site-logo {
	height: 50px;

	padding-left: 20px;
	padding-right: 20px;
	border: 2px solid black;

	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;

}


.site-block-top-search {

	position: relative;
	width: 25%;

	text-align: end;
	display: flex;
	align-items: end;
	justify-content: end;
}

.site-block-top-search .icon-search2 {
	position: absolute;
	transform: translate(-700%, 45%);
	color: #8c92a0;
	bottom: 45%;
	left: 52%;
}

.site-block-top-search input {
	margin-right: 0;

	-webkit-transition: .3s all ease-in-out;
	-o-transition: .3s all ease-in-out;
	transition: .3s all ease-in-out;
}

.site-block-top-search input:focus,
.site-block-top-search input:active {
	margin-right: 20px;


	border-color: transparent;
	outline: none;
}

.side-nav {

	width: 25%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav-header {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100px;
	width: 100%;


}

.nav-header>* {
	margin-right: 20px;
}

.nav-header> :last-child {
	margin-right: 0;
}

.header_nav_button>* {
	margin-right: 5px;



}

.header_nav_button {
	position: relative;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;

	padding-left: 10px;
	padding-right: 10px;
	width: auto;




}

.shadow {
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.header_nav_button:hover {
	transition: .1s all ease-in-out;
	color: var(--primary-color);
	cursor: pointer;
}

.header_button_menu {
	background-color: white;
	border-top: 2px solid var(--primary-color);
	text-align: start;
	align-items: start;
	justify-content: start;
	width: 200px;
	position: absolute;
	transform: translateY(90%);

	bottom: 0;

	left: 0;


}

.header_nav_container:hover {
	background-color: rgb(199, 168, 228);



}

.header_button_menu_label {
	background-color: white;
	border-top: 2px solid var(--primary-color);
	text-align: start;
	align-items: start;
	justify-content: start;
	width: 200px;
	height: auto;
	position: absolute;
	transform: translate(95.2%, 15%);
	z-index: 20;

	bottom: 0;

	left: 0;


}

.header_button_menu_label>* {
	margin-top: 10px;
	color: black;

}

.header_button_menu_label>:last-child {

	margin-bottom: 10px;

}

.header_button_menu>* {
	margin-top: 10px;
	color: black;

}

.header_button_menu> :last-child {

	margin-bottom: 10px;

}

.header_nav_button.menu-open .header_button_menu {
	display: block;

}



.header-menu-label {
	color: #8c92a0;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	position: relative;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: auto;
}

.header-menu-label:hover {
	color: black;

	margin-left: 10px;
}

@keyframes header-button-animation {
	0% {
		opacity: 0;
		transform: translateY(130%);
	}

	100% {
		opacity: 1;
		transform: translateY(90%);
	}
}

@keyframes opacity-animation {
	0% {
		opacity: 0;

	}

	100% {
		opacity: 1;

	}
}

.animate-header-button {

	animation: header-button-animation 0.2s ease-in-out;
}

.animate-opacity {


	animation: opacity-animation 0.2s ease-in-out;
}

.home-promotion-image {
	width: auto;
	margin-left: 150px;

}

.home-promotion-container {
	background-image: 'images/shoes.png';
	width: 100%;
	height: 700px;
	justify-content: space-evenly;
	align-items: center;

	display: flex;
	background-color: aqua;




}

.home-promotion-desc {
	flex-direction: column;
	justify-content: space-evenly;
	align-items: start;

	display: flex;
	margin-left: 30px;
	height: 50%;
	width: 52%;

}

.home-promotion-desc-header {
	font-size: 45px;
	font-weight: bold;

}

.home-promotion-desc-about {
	font-size: 18px;

	line-height: 30px;
}

.home-promotion-desc-container {
	justify-content: start;
	align-items: center;
	display: flex;


	width: auto;
	height: 100%;

}

.primary_button_label {

	justify-content: center;
	text-align: center;
	letter-spacing: 0.2;
	color: white;
	font-size: 13px;



}

.primary_button {

	background-color: #7c74ea;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;

	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
}

.primary_button:hover {
	transition: .3s all ease-in-out;
	transform: translateY(-5%);
	background-color: rgb(95, 95, 223);
	cursor: pointer;
	box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.5);
}

.shopping_benefits {
	height: 200px;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 0.1px solid #f7f7f7;
	margin: 0 auto;

}

.benefit_container {
	width: 100%;
	height: 100%;
	align-items: center;
	flex-direction: row;
	display: flex;
	justify-content: center;



}

.benefit_container_icon {
	display: flex;

	justify-content: center;
	align-items: center;
	text-align: center;
	height: 100%;
	width: 100px;
	color: var(--primary-color);


}

.benefit_container_desc {
	flex-direction: column;
	display: flex;
	justify-content: center;
	align-items: start;
	text-align: start;
	height: 100%;
	width: 220px;

}

.collections {

	height: 500px;
	width: 100%;
	flex-direction: row;
	margin-top: 30px;
	display: flex;
	justify-content: center;
	align-items: center;


}

.collections>* {
	margin-left: 40px;
}

.collections>:first-child {
	margin-left: 50px;
}

.collection_item {
	height: 450px;
	width: 300px;
	position: relative;
	overflow: hidden;
	flex-direction: column;
	justify-content: end;
	align-items: start;
	display: flex;
	text-align: start;
	cursor: pointer;



}

.collection_background::before {
	z-index: 1;
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: -moz-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
	background: -webkit-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
	background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(18%, transparent), color-stop(99%, rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8)));
	background: -o-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
	background: linear-gradient(to bottom, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#cc000000', GradientType=0);
}

.collection_background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	margin-bottom: 0;
	background-size: cover;
	background-position: center;
	z-index: 1;
	opacity: 1;

	transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

}

.collection_item:hover .collection_background {
	transform: scale(1.2);
	opacity: 1;
}


.featured_products {
	margin-top: 20px;
	flex-direction: column;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 700px;

	flex-shrink: 0;
	background-color: rgb(250, 249, 249);

}

.featured_products_list {
	display: flex;

	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin-top: 10px;
	width: 1000px;
	overflow-x: scroll;
	flex-wrap: wrap;
	direction: ltr;
	scroll-behavior: smooth;
	
	scrollbar-width: none;
}

.featured_products_list::-webkit-scrollbar {
	display: none;
}

.featured_products_decoration {

	height: 2px;
	width: 40px;
	background-color: var(--primary-color);

	transform: translateY(6250%);
}

.featured_products_list>* {
	margin-right: 20px;
}

.featured_products_list>:last-child {
	margin-right: 20px;
}
.featured_products_list>:first-child {
	margin-left: 20px;
}
.featured_product_container {
	display: inline;

	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 320px;
	height: 440px;
	margin-top: 20px;
	margin-bottom: 20px;
	box-shadow: 0px 0px 5px rgba(170, 170, 170, 0.5);
	background-color: var(--primary-color);
}

.featured_product_image {
	background-size: 100% 100%;

	width: 100%;
	height: 65%;


}

.featured_product_desc {
	height: 35%;
	width: 100%;
	background-color: white;
	flex-direction: column;
	display: flex;
	justify-content: center;
	align-items: center;
}

.featured_product_desc>* {
	margin-bottom: 5px;
}

.featured_product_desc>:last-child {
	margin-bottom: 0;
}

.featured_product_name {

	color: var(--primary-color);
	font-size: 20px;
	font-weight: 500;

}

.featured_product_description {
	font-size: 15px;

	color: #8c92a0;
}

.featured_product_price {
	color: var(--primary-color);
	font-size: 15px;
	font-weight: bold;
}

.featured_products_arrows_container {
	transform: translateY(-200%);
	height: 30px;
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

}