@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #7c74ea;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --icon-color: #8c92a0;
  --text-primary-color: #212529;
}
html {
  scroll-behavior: smooth;
}
/*
@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}
*/
@import "mixins.scss";
* {
  margin: 0;
  padding: 0;
}

.home-content {
  @include flexbox(column);

  width: auto;
  justify-content: center;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rg, b));
}

.shadow {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.shopping_benefits {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 20px;
  padding-top: 4rem;
  padding-bottom: 2rem;
  height: auto;
  width: 60%;

  margin: 0 auto;
}
.ignore-events {
  pointer-events: none;
}
