@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

* {
	margin: 0;
	padding: 0;
}

.header {
	width: 100%;
	height: 300px;


}

.content {
	width: 100%;



}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(to bottom,
			transparent,
			rgb(var(--background-end-rgb))) rgb(var(--background-start-rg,
				b));
}

.row-space-between {
	width: 100%;

	display: flex;

	justify-content: space-between;
	align-items: center;
}

.site-logo {
	height: 50px;

	padding-left: 20px;
	padding-right: 20px;
	border: 2px solid black;

	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;

}


.site-block-top-search {

	position: relative;
	width: 25%;

	text-align: end;
	display: flex;
	align-items: end;
	justify-content: end;
}

.site-block-top-search .icon-search2 {
	position: absolute;
	transform: translate(-700%, 45%);
	color: #8c92a0;
	bottom: 45%;
	left: 52%;
}

.site-block-top-search input {
	margin-right: 0;

	-webkit-transition: .3s all ease-in-out;
	-o-transition: .3s all ease-in-out;
	transition: .3s all ease-in-out;
}

.site-block-top-search input:focus,
.site-block-top-search input:active {
	margin-right: 20px;


	border-color: transparent;
	outline: none;
}

.side-nav {

	width: 25%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav-header {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100px;
	width: 100%;


}

.nav-header>* {
	margin-right: 20px;
}

.nav-header> :last-child {
	margin-right: 0;
}

.header_nav_button>* {
	margin-right: 5px;



}

.header_nav_button {
	position: relative;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;

	padding-left: 10px;
	padding-right: 10px;
	width: auto;




}

.shadow {
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.header_nav_button:hover {
	transition: .1s all ease-in-out;
	color: blueviolet;
	cursor: pointer;
}

.header_button_menu {
	background-color: white;
	border-top: 2px solid blueviolet;
	text-align: start;
	align-items: start;
	justify-content: start;
	width: 200px;
	position: absolute;
	transform: translateY(90%);

	bottom: 0;

	left: 0;


}

.header_nav_container:hover {
	background-color: rgb(199, 168, 228);



}

.header_button_menu_label {
	background-color: white;
	border-top: 2px solid blueviolet;
	text-align: start;
	align-items: start;
	justify-content: start;
	width: 200px;
	height: auto;
	position: absolute;
	transform: translate(95.2%, 15%);
	z-index: 20;

	bottom: 0;

	left: 0;


}

.header_button_menu_label>* {
	margin-top: 10px;
	color: black;

}

.header_button_menu_label>:last-child {

	margin-bottom: 10px;

}

.header_button_menu>* {
	margin-top: 10px;
	color: black;

}

.header_button_menu> :last-child {

	margin-bottom: 10px;

}

.header_nav_button.menu-open .header_button_menu {
	display: block;

}



.header-menu-label {
	color: #8c92a0;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	position: relative;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: auto;
}

.header-menu-label:hover {
	color: black;

	margin-left: 10px;
}

@keyframes header-button-animation {
	0% {
		opacity: 0;
		transform: translateY(130%);
	}

	100% {
		opacity: 1;
		transform: translateY(90%);
	}
}

@keyframes opacity-animation {
	0% {
		opacity: 0;

	}

	100% {
		opacity: 1;

	}
}

.animate-header-button {

	animation: header-button-animation 0.2s ease-in-out;
}

.animate-opacity {


	animation: opacity-animation 0.2s ease-in-out;
}

.home-promotion-image {
	width: auto;
	margin-left: 150px;

}

.home-promotion-container {
	background-image: 'images/shoes.png';
	width: 100%;
	height: 700px;
	justify-content: space-evenly;
	align-items: center;

	display: flex;
	background-color: aqua;




}

.home-promotion-desc {
	flex-direction: column;
	justify-content: space-evenly;
	align-items: start;

	display: flex;
	margin-left: 30px;
	height: 50%;
	width: 52%;

}

.home-promotion-desc-header {
	font-size: 45px;
	font-weight: bold;

}

.home-promotion-desc-about {
	font-size: 18px;

	line-height: 30px;
}

.home-promotion-desc-container {
	justify-content: start;
	align-items: center;
	display: flex;


	width: auto;
	height: 100%;

}

.primary_button_label {

	justify-content: center;
	text-align: center;
	letter-spacing: 0.2;
	color: white;
	font-size: 13px;

	padding-left: 10px;
	padding-right: 10px;

}