.header {
  height: 175px;
  width: 100%;

  position: relative;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  display: flex;
}
.header .site-top-block {
  justify-content: center;
  flex-direction: column;
  display: flex;
  align-items: center;
  align-content: center;

  width: 100%;
}
.header .nav-header {
  display: flex;
  justify-content: center;
  flex-direction: row;

  align-items: center;
}
.header_nav_button:hover {
  transition: 0.1s all ease-in-out;
  color: var(--primary-color);
  cursor: pointer;
}

.header_button_menu {
  background-color: white;
  border-top: 2px solid var(--primary-color);
  border-left: 0.1px solid rgb(235, 235, 235);
  border-bottom: 0.1px solid rgb(235, 235, 235);
  border-right: 0.1px solid rgb(235, 235, 235);
  text-align: start;
  align-items: start;
  justify-content: start;
  width: 200px;
  position: absolute;
  transform: translateY(85%);

}
@keyframes header-button-animation {
  0% {
    opacity: 0;
    transform: translateY(130%);
  }

  100% {
    opacity: 1;
    transform: translateY(85%);
  }
}

@keyframes header-button-label-animation {
  0% {
    opacity: 0;
    transform: translate(189px,130%); 
  }

  100% {
    opacity: 1;
    transform: translate(189px,-0.9px); 
  }
}

.animate-header-button {
  animation: header-button-animation 0.3s ease-in-out;
}
.animate-label-button {
  animation: header-button-label-animation 0.3s ease-in-out;
}
.animate-opacity {
  animation: opacity-animation 0.2s ease-in-out;
}

.header_nav_container:hover {
  background-color: #f4f5f9;
}

.header_button_menu_label {
  background-color: white;
  border-top: 2px solid var(--primary-color);
  border-left: 0.1px solid rgb(235, 235, 235);
  border-bottom: 0.1px solid rgb(235, 235, 235);
  border-right: 0.1px solid rgb(235, 235, 235);
  text-align: start;
  align-items: start;
  justify-content: start;
  width: 200px;
  height: auto;
  position: absolute;


  transform: translate(189px,-0.9px); 

}

.header_button_menu_label > * {
  color: black;
}

.header_button_menu > * {
  color: black;
}

.header_nav_button.menu-open .header_button_menu {
  display: block;
}

.header-menu-label {
  color: #8c92a0;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
}

.header-menu-label:hover {
  color: black;
}

.nav-header > :last-child {
  margin-right: 0;
}

.header_nav_button > * {
  margin-right: 5px;
}

.header_nav_button {
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  padding-left: 10px;
  padding-right: 10px;
  width: auto;
}
